<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bizdata.component.base.dao.SysLoginLogoutMapper">
	<resultMap id="BaseResultMap"
		type="com.bizdata.component.base.entity.SysLoginLogout">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="ip" property="ip" jdbcType="VARCHAR" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="VARCHAR" />
		<result column="date" property="date" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		id, username, ip, content, type, date
	</sql>
	<sql id="Base_Where_Clause">
		<where>
			<if test="username != null">
				username=#{username}
			</if>
			<if test="ip != null">
				AND ip=#{ip}
			</if>
			<if test="content != null">
				AND content=#{content}
			</if>
			<if test="type != null">
				AND type=#{type}
			</if>
			<if test="date != null">
				AND date=#{date}
			</if>
		</where>
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from sys_login_logout
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from
		sys_login_logout
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.bizdata.component.base.entity.SysLoginLogout">
		insert into sys_login_logout
		(id, username, ip,
		content, type, date
		)
		values (#{id,jdbcType=BIGINT},
		#{username,jdbcType=VARCHAR},
		#{ip,jdbcType=VARCHAR},
		#{content,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR},
		#{date,jdbcType=TIMESTAMP}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.bizdata.component.base.entity.SysLoginLogout">
		insert into sys_login_logout
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="username != null">
				username,
			</if>
			<if test="ip != null">
				ip,
			</if>
			<if test="content != null">
				content,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="date != null">
				date,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="username != null">
				#{username,jdbcType=VARCHAR},
			</if>
			<if test="ip != null">
				#{ip,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				#{content,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				#{type,jdbcType=VARCHAR},
			</if>
			<if test="date != null">
				#{date,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.bizdata.component.base.entity.SysLoginLogout">
		update sys_login_logout
		<set>
			<if test="username != null">
				username = #{username,jdbcType=VARCHAR},
			</if>
			<if test="ip != null">
				ip = #{ip,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				content = #{content,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=VARCHAR},
			</if>
			<if test="date != null">
				date = #{date,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.bizdata.component.base.entity.SysLoginLogout">
		update
		sys_login_logout
		set username = #{username,jdbcType=VARCHAR},
		ip =
		#{ip,jdbcType=VARCHAR},
		content = #{content,jdbcType=VARCHAR},
		type =
		#{type,jdbcType=VARCHAR},
		date = #{date,jdbcType=TIMESTAMP}
		where id =
		#{id,jdbcType=BIGINT}
	</update>
	<select id="selectSysLoginLogoutByCondByPage" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_login_logout
		<include refid="Base_Where_Clause"></include>
			Order by date desc
	</select>

</mapper>